{% extends 'Base.html' %}

<!--开始实现书写我们的css的样式的书写-->
{% block css %}
<style>
    #div_digg {
        float: right;
        margin-bottom: 10px;
        margin-right: 30px;
        font-size: 12px;
        width: 125px;
        text-align: center;
        margin-top: 10px;
    }
    .diggit {
        float: left;
        width: 46px;
        height: 52px;
        background: url("/static/images/upup.gif") no-repeat;
        text-align: center;
        cursor: pointer;
        margin-top: 2px;
        padding-top: 5px;
    }
    .buryit {
        float: right;
        margin-left: 20px;
        width: 46px;
        height: 52px;
        background: url("/static/images/downdown.gif") no-repeat;
        text-align: center;
        cursor: pointer;
        margin-top: 2px;
        padding-top: 5px;
    }
    .diggnum {
        font-size: 14px;
        color: #075db3;
        font-family: Verdana,serif;
    }
    #div_digg .burynum {
        line-height: 1.5em !important;
    }
    .clear {
        clear: both;
    }
    .diggword {
        margin-top: 5px;
        margin-left: 0;
        font-size: 12px;
        color: #808080;
    }
    #div_digg a.tip:link, #div_digg a.tip:visited, #div_digg a.tip:hover, #div_digg a.tip:active {
        color: #075db3;
        text-decoration: none;
        border-bottom: none;
    }
</style>
{% endblock %}

{% block content %}
<h1 style="color:skyblue">{{article_obj.title}}</h1>
<div class="article_content">
    {{ article_obj.content|safe }}
</div>

<!-- 开始实现书写我们的点赞点睬的页面的功能的书写 -->
<!--实现我们的清除浮动带来的塌陷带来的问题-->
<div class="clearfix">
    <div id="div_digg">
        <div class="diggit action">
            <span class="diggnum" id="digg_count">{{article_obj.up_num}}</span>
        </div>
        <div class="buryit action">
            <span class="burynum" id="bury_count">{{article_obj.down_num}}</span>
        </div>
        <div class="clear"></div>
    <div class="diggword" id="digg_tips"></div>
</div>
</div>

<!--开始实现我们的评论得分功能的实现-->
<!--评论功能在实现的时候，我们首先需要实现的是我们的一级评论，然后就是我们的二级评论-->
<!--我们只有处于登录状态下才可以实现我们的发布评论-->
{% if request.user.is_authenticated %}
    <div>
        <p><span class="glyphicon glyphicon-comment"></span> 发表评论</p>
        <div>
            <!--通过我们的文本域来实现我们的发表评论,同时禁止我们的拖动效果的实现-->
            <textarea name="user_comment" id="user_comment" cols="30" rows="1" style="resize: none"></textarea><br>
            <button class="btn btn-primary" id="user_submit">提交评论</button>
        </div>
    </div>
{% else %}
    <p>登陆后才可以查看并且发布评论，<a href="/login/">登录</a>或者 <a href="/home/">逛逛</a></p>
{% endif %}
{% endblock %}

<!--开始实现我们的继承书写我们的js的代码-->
{% block js %}
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    // 开始实现我们的书写我们的js的代码来控制我们的网页的行为
    $('.action').on('click', function(e) {
        const csrftoken = getCookie('csrftoken');
        let is_up = $(this).hasClass('diggit');  // true false
        let click_div = $(this)
        // 开始实现向后端发送ajax请求
        $.ajax({
            url:"/up_or_down/",
            method:"POST",
            type:'POST',
            data:{
                'article_id':'{{article_obj.pk}}',
                'is_up':is_up,
                'csrfmiddlewaretoken': csrftoken
            },
            // 成功时候的响应函数
            success:function(response){
                console.log(response)  // 获取我们的最终的响应结果的数据以及报错错的描述信息
                // 开始实现我们的对请求返回的数据的实现操作
                if (response.code === 200){
                    $('#digg_tips').html(response.message);
                    // 获取当前点击的内部的文本标签的内容
                    let oldNum = click_div.children().text()
                    click_div.children().text(parseInt(oldNum) + 1)
                }else if(response.code === 400){
                    $('#digg_tips').html(response.message);
                }else{
                    $('#digg_tips').html(response.message);
                }
            },
            // 失败时候的响应函数
            error:function(response){
                console.error("网络出错，请检查网络后重试")
            }
        })
    })

    // 开始实现我们的点击发布评论之后的处理函数
    $('#user_submit').on('click', function(e) {
        // 首先先获取得到我们的csrftoken验证
        const csrftoken = getCookie('csrftoken');
        const content = $('#user_comment').val();
        $.ajax({
            url:"/comment/",
            method:"POST",
            type:'POST',
            // 开始配置我们的ajax的时候的提交数据
            data:{
                'article_id':'{{article_obj.pk}}',
                'content':content,
                'csrfmiddlewaretoken': csrftoken
            },
            // 请求成功的时候的响应函数
            success:function(response){

            },
            // 失败的时候的响应函数
            error:function(response){}
        })
    })
</script>
{% endblock %}