<!--开始实现我们的继承页面-->
{% extends 'backend.html' %}


<!--文章显示的分类-->
{% block article %}
<!--开始实现我们的循环遍历我们的文章列表-->
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>标题</th>
            <th>发布时间</th>
            <th>评论数</th>
            <th>点赞数</th>
            <th>操作</th>
            <th>操作</th>
        </tr>
    </thead>

    <tbody>
        {% for article_item in article_list %}
            <tr>
                <td><a href="/{{request.user.username}}/article/{{article_item.pk}}">{{article_item.title}}</a></td>
                <td>{{article_item.create_time|date:'Y-m-d'}}</td>
                <td>{{article_item.comment_num}}</td>
                <td>{{article_item.up_num}}</td>
                <td><a href="{% url 'article_edit' article_item.pk %}">编辑</a></td>
                <td><a href="">删除</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!-- backendContent.html -->
{% for article in article_list %}
    <div>
        <!-- 显示文章信息 -->
        <h2>{{ article.title }}</h2>
        <p>{{ article.content }}</p>
        <!-- 其他文章信息 -->
    </div>
{% endfor %}

<!-- 分页导航 -->
<div>
    <span class="step-links">
        {% if article_list.has_previous %}
            <a href="?page=1">&laquo; 第一页</a>
            <a href="?page={{ article_list.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            页码 {{ article_list.number }} of {{ article_list.paginator.num_pages }}.
        </span>

        {% if article_list.has_next %}
            <a href="?page={{ article_list.next_page_number }}">下一页</a>
            <a href="?page={{ article_list.paginator.num_pages }}">最后一页 &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}

<!--评论区域的模板继承的书写-->
{% block comment %}
    <!--开始实现我们的评论区域的渲染页面-->
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>评论内容</th>
                    <th>评论文章</th>
                    <th>评论时间</th>
                    <th>操作</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for comment_item in comment_list %}
                    <tr>
                        <td>{{comment_item.comment}}</td>
                        <td><a href="/{{request.user.username}}/article/{{comment_item.article.pk}}/">
                            {{comment_item.article.title}}</a></td>
                        <td>{{comment_item.comment_time|date:'Y-m-d'}}</td>
                        <td><a href="">编辑</a></td>
                        <td><a href="">删除</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}


<!--文章分类的实现-->
{% block category %}
{% endblock %}


<!--文章标签的实现书写-->
{% block tags %}
{% endblock %}