{% if category_list %}
    <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">文章分类</h3>
                  </div>
                  <div class="panel-body">
                      {% for category_item in category_list %}
                        <p><a href="/{{ user_name }}/category/{{ category_item.2 }}/">
                            {{category_item.0}}({{category_item.1}})</a></p>
                      {% endfor %}
                  </div>
                </div>
{% else %}
    <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">文章分类</h3>
                  </div>
                  <div class="panel-body">
                      <p style="color:red">博主很懒，现在啥也没写</p>
                  </div>
                </div>
{% endif %}

{% if tag_list %}
    <div class="panel panel-danger">
                  <div class="panel-heading">
                    <h3 class="panel-title">文章标签</h3>
                  </div>
                  <div class="panel-body">
                     {% for tag_item in tag_list %}
                        <p><a href="/{{ user_name }}/tag/{{ tag_item.2 }}/">
                            {{tag_item.0}}({{tag_item.1}})</a></p>
                     {% endfor %}
                  </div>
                </div>
{% else %}
    <div class="panel panel-danger">
                  <div class="panel-heading">
                    <h3 class="panel-title">文章标签</h3>
                  </div>
                  <div class="panel-body">
                      <p style="color:red">博主很懒，现在啥也没写</p>
                  </div>
                </div>
{% endif %}

{% if data_list %}
    <div class="panel panel-success">
                  <div class="panel-heading">
                    <h3 class="panel-title">发布日期</h3>
                  </div>
                  <div class="panel-body">
                    {% for data_item in data_list %}
                        <p><a href="/{{ user_name }}/data/{{ data_item.0|date:"Y-m" }}/">
                            {{data_item.0}}({{data_item.1}})</a></p>
                    {% endfor %}
                  </div>
                </div>
{% else %}
    <div class="panel panel-success">
                  <div class="panel-heading">
                    <h3 class="panel-title">发布日期</h3>
                  </div>
                  <div class="panel-body">
                    <p style="color:red">博主很懒，现在啥也没写</p>
                  </div>
                </div>
{% endif %}