<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <script src="{% static 'jquery_3.6.0.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<!--用来实现的是我们的登录页面的排版设置-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center">登录页面</h1>
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <span></span>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <span></span>
            <div class="form-group">
                <label for="code">验证码</label>
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="code" name="code">
                    </div>
                    <div class="col-md-3">
                        <!-- 开始通过我们的图片来实现呈现我们的验证码 -->
                        <img src="/get_code/" alt="网络不佳，请检查网络后重试" height="40px" width="200px" id="id_img">
                    </div>
                    <span></span>
                </div>
            </div>
            <input type="button" class="btn btn-success form-control" value="登录" id="id_commit">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div>
                <span id="error_message" style="color: red"></span>
            </div>
        </div>
    </div>

    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // 给我们的图片一个点击事件
        $("#id_img").on("click", function() {
            // 只要我们向我们的路径后面添加一个 ? 就可以实现我们的刷新请求页面
            let oldVal = $("#id_img").attr("src");
            $(this).attr("src", oldVal+"?");
        })


        // 开始实现我们的通过ajax向我们的后端发送数据
        $("#id_commit").click(function(){
            $.ajax({
                url:`/login/`,
                method:"POST",
                type:"POST",
                data:{
                    'username': $("#username").val(),
                    'password': $("#password").val(),
                    'code': $("#code").val(),
                    // 同时传递一个csrf的验证码
                    'csrfmiddlewaretoken': getCookie('csrftoken')
                },
                // 开始设置我们的请求成功的响应函数
                success:function(response){
                    if (response.code === 200){
                        window.location.href = response.url;
                    }else{
                        // 开始实现渲染我们的报错信息
                        $("#error_message").text(response.message);
                    }
                },
                error:function(){
                    $("#error_message").text("网络错误或服务器错误，请稍后再试...");
                }
            })
        })
    </script>
</div>
</body>
</html>